.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {font-family:"微软雅黑","黑体";
  padding: 0;
}
ul li{list-style: none;}
.lie{list-style: none;}
.act{font-weight: bold;}
.tu{float: left;}
.box{float: left;}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.bj{background:url(../images/66.jpg);width: 802px;height: 518px;margin: 0 auto;}
.box1{background:url(../images/22.jpg);width: 802px;height: 518px;margin: 0 auto;}
#box{width: 300px;margin-top: 130px;margin-left: 220px;float: left;}
#box3{width: 300px;margin-top: 130px;margin-left: 255px;float: left;}
#ri{font-weight: bold;}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
#som{width: 500px;margin: 0 auto;background:url(../images/mei.jpg);width: 416px;
  height: 165px;
     margin-top: 20px;}
#ps{margin-top: 5px;}
#ps1{margin-top: 5px;}
#jia{border-radius: 50%;
     background: #01baff;
     width: 50px;
     height: 50px;
     position: fixed;
     z-index: 999;
     bottom: 0px;
     left: 50%}
#j{margin-left: 6%;
   margin-top: 16%;
   }
.titl{float: left;}  
.da{float: right;}
.panel-heading{height: 50px;}
.divv{width: 801px;
      height: 518px;
      margin: 0 auto;
      background:url(../images/555.jpg);}
#left{width: 50px;
      height: 50px;
      margin-left: 462px;
      margin-top: 10px;}
#dao{width: 418px;
     margin: 0 auto}

#b{margin-left: 25px;}
#tui{position: absolute;left: 350px;top: 7px;}
#t{background:url(../images/7.jpg);width: 416px;height: 240px;
  position: fixed;
  top: 30%;
  left: 36%;
  border-radius: 10%}
.pp{margin-top: 46px;width: 50px;float: left;margin-left: 21px;}
#bu{margin-left: -12px;
    margin-top: 178px;}
.zj{margin-top: 48px;width: 60px;margin-left: 27px;float: left;}
#xiu{width: 50px;height: 40px;margin-top: 85px;margin-left: 530px;}
#right{margin-left: 356px;}
#title{width: 69px;
       height: 99px;
       float: left;
       margin-left: -60px;
       margin-top: 78px;}
#cont{width: 170px;
       float: left;
       margin-top: 78px;
       margin-left: -50px;
       height: 99px;}
#bian-t{width: 156px;
        margin-top: 190px;
        margin-left: -33px;
        float: left;
        height: 140px;}

#bian-c{width: 240px;
        margin-top: -140px;
        margin-left: 255px;
        float: left;
        height: 140px;}
.bian-tit{float: left;
          margin-top: 156px;
          margin-left: 60px;}
.bian-p{float: left;
        margin-left: 255px;
        margin-top: -176px}

#s{margin-left: -25px;}

#ul{margin-left: -14px;}
#b{margin-left: 5px;}


