<!-- <div class="divv">
<div class="divv2">
<p class="bian-tit">title:</p>
<div class="input-group">
  <input type="text" class="form-control" ng-model="bian.title" id="bian-t">
</div>


<p class="bian-p">content:</p>
<div class="input-group">
  <input type="text" class="form-control" ng-model="bian.content" id="bian-c">
</div>
<button type="button" class="btn btn-info btn-xs" ng-click="hui()" id="xiu">修改</button>
</div>
</div> -->

<div class="ji">
<div class="input-group">
  <p class="bian-tit">title:</p>
  <input type="text" class="form-control" ng-model="bian.title" id="k1">
</div>
<div class="input-group">
  <p class="bian-p">content:</p>
  <input type="text" class="form-control" ng-model="bian.content" id="k1">

</div>
<button type="button" class="btn btn-info btn-xs" ng-click="hui()" id="xiu">修改</button>
</div>