<div class="box1">
<div class="container" id="box" >

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading" id="ri">个人日记</h2>
        <input type="text" class="form-control" placeholder="name" required autofocus ng-model="updata.username" id="w-inp">
        <input type="password" class="form-control" placeholder="Password" required ng-model="updata.password" id="ps1">
        <div class="checkbox">
        
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="zuce()">注册</button>
      </form>

</div>
</div>